.hero-section {
  padding: 60px 15px 30px;

  &__left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 40px;
  }

  &__right-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }

  &__image--small {
    grid-row: span 1;
    grid-column: span 1;
  }

  &__image--large {
    grid-row: span 2;
  }

  &__accent {
    font-size: 15px;
    line-height: 2;
    max-width: 221px;
    color: #fff;
    background-color: #134a45;
    padding-left: 25px;
    padding-right: 68px;
  }

  &__title {
    font-size: 63px;
    line-height: 1.16;
    letter-spacing: 2px;
  }

  @media screen and (min-width: 768px) {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
    }
  }
}
