.organizations-section {
  padding-top: 40px;
  border-top: 1px solid rgba(20, 70, 65, 0.34);

  &__item {
    display: flex;
    justify-content: center;
  }

  &__description {
    margin-bottom: 74px;
    font-size: 20px;
    line-height: 1.5;
  }

  &__list {
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      column-gap: 56px;
    }
  }

  &__img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
