.title {
  font-size: 25px;
  line-height: 1.16;
  letter-spacing: 0.6px;

  &.primary {
    color: $primary;
  }

  &.secondary {
    color: $secondary;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    font-size: 49px;
  }
}
