.issues-section {
  background: $primary;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 100px;

  &__top {
    background-color: $pink;
    padding: 24px;
    margin-bottom: 20px;
  }

  &__bottom {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      align-items: center;
    }
  }

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content-wrapper {
    @media screen and (min-width: 768px) {
      width: 50%;
      padding-top: 112px;
    }
  }

  &__text {
    margin-top: 10px;
    max-width: 285px;
    color: #fff;
  }

  &__text-bottom {
    font-size: 17px;
    line-height: 1.65;
    letter-spacing: 0.2px;
    color: rgba(229, 232, 235, 0.69);
    max-width: 456px;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  &__image {
    @media screen and (min-width: 768px) {
      width: 50%;
      height: 660px;
    }
  }
}
