.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &.white {
    background: #fff;
  }

  &.primary {
    background: $primary;
  }

  &.secondary {
    background: $secondary;
  }

  &.blue {
    background: $blue;
  }

  &.gray {
    background: $gray;
  }
}
