.heading {
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;

  &.secondary {
    color: $secondary;
  }

  &.primary {
    color: $primary;
  }
}
